
* {
    padding: 0;
    margin: 0;
}

.show-border {
    border: 1px dashed black;
}

#mask-layer {
    position: fixed;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    border: 1px dashed blue;
    pointer-events: none;
}

.table {
    display: table;
    width: 80%;
    margin: 20px;
}

.table-row {
    display: table-row;
    height: 40px;
}

.table-cell {
    display: table-cell;
}