
* {
    padding: 0;
    margin: 0;
}

div.main {
}

/*左侧*/
div.main .left {
    float: left;
    width: 15%;
    min-width: 150px;
}

div.main .left > div {
    margin-left: auto;
    margin-right: auto;
}


/*右侧*/
div.main .right {
    float: left;
    width: 20%;
}


/*中间*/
div.main .center {
    float: left;
    width: 60%;
    min-width: 300px;
    border: 1px dashed gray;
}

div.main .center .active-layer {
    position: fixed;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    border: 1px dashed blue;
    pointer-events: none;
}

.table {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
    height: 40px;
}

.table-cell:nth-child(1) {
    width: 30%;
    text-align: right;
    padding-right: 10px;
}

.table-cell {
    display: table-cell;
}
